@keyframes aparecer {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fundo_site.png");
  scrollbar-width: none;

}

/* Container principal */
.conteudo {
  animation: aparecer 1.2s ease forwards;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 800px;
  height: auto;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  border-radius: 16px;
  background-color: #FAFAFA;
  padding: 30px;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 4%;
}

/* Campo de entrada */
.form-control {
  width: 100%;
  max-width: 350px;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}



label {
  position: relative;
  top: 8px;
  font-weight: bold;
  margin-bottom: 5px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 58);
  margin-bottom: 20px;
  font-family: 'Poppins' sans-serif
}

.container-botoes {
  width: 100%;
  max-width: 350px;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn-enviar,
.btn-limpar,
.btn-pesquisar {
  width: 100px;
  font-weight: bold;
  color: black;
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}

.btn-enviar {
  background-color: rgb(31, 221, 31);
}

.btn-limpar {
  background-color: rgb(224, 24, 9);
}

.btn-enviar:hover {
  background-color: rgb(111, 235, 107);
}

.btn-limpar:hover {
  background-color: rgb(240, 50, 37);
}

.btn-pesquisar{
  background-color: #e08013;
}

.btn-pesquisar:hover{
  background-color: #f0a753;
}
.btn-fechar{
  background-color: grey;
  margin-top: 250px;
}

.campo_os {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-between;
  width: 100%;
}

.campo_os .linha {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-container {
  max-height: 600px;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: none;
}
.modal-overlay {
  display: none; /* começa escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-conteudo {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  height: 400px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(54, 14, 14, 0.3);
  animation: aparecer 0.3s ease-out;
}

/* Inputs dentro do modal ficam maiores */
.modal-overlay .form-control {
  max-width: 100%; /* ocupa todo o espaço */
  display: block; /* comportamento normal de input */
}


@keyframes aparecer {
  from {opacity:0; transform: scale(0.8);}
  to {opacity:1; transform: scale(1);}
}
