

        .container {
            max-width: 1400px;
            margin: 20px auto;
            padding: 20px;
            margin-left: 250px;
        }
        
        h1 {
            text-align: center;
            font-weight: bold;
            color: rgb(58, 0, 0);
            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;
        }
        
        .form-section {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        
        .actions {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            margin-top: 20px;
        }
        
        .btn-danger {
            background-color: #e74a3b;
            border-color: #e74a3b;
        }
        
        .btn-danger:hover {
            background-color: #c13526;
            border-color: #c13526;
        }
        
        .modal-content {
            border-radius: 10px;
            border: none;
        }
        
        .modal-header {
            background-color: #e74a3b;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        
        .modal-footer {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        
        .form-label {
            font-weight: 500;
        }
    