@keyframes aparecer {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 187, 187);

}

/* Container principal */
.conteudo {
  animation: aparecer 1.2s ease forwards;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 800px;
  height: auto;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  border-radius: 16px;
  background-color: #FAFAFA;
  padding: 40px;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 4%;
}

/* Campo de entrada */
.form-control {
  width: 100%;
  max-width: 350px;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}



label {
  position: relative;
  top: 8px;
  font-weight: bold;
  margin-bottom: 5px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 58);
  margin-bottom: 20px;
  font-family: 'Poppins' sans-serif
}

.container-botoes {
  width: 100%;
  max-width: 350px;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn-enviar,
.btn-limpar {
  width: 100px;
  font-weight: bold;
  color: black;
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}

.btn-enviar {
  background-color: rgb(31, 221, 31);
}

.btn-limpar {
  background-color: rgb(224, 24, 9);
}

.btn-enviar:hover {
  background-color: rgb(111, 235, 107);
}

.btn-limpar:hover {
  background-color: rgb(240, 50, 37);
}

/* Campos escondidos e botões por padrão */
#campos-fisica,
#campos-juridica,
.btn-enviar,
.btn-limpar {
  display: none;
}

.campos_fisica {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-between;
  width: 100%;
}

.campos_fisica .linha {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.campos_juridica {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-between;
  width: 100%;
}

.campos_juridica .linha {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


.tipo_pessoa {
  width: 100%;
  max-width: 733px;
}


.form-container {
  max-height: 600px;
  /* ajuste como preferir */
  overflow-y: auto;
  /* ativa a rolagem vertical */
  padding-right: 10px;
  /* para espaço da barra de rolagem */
  scrollbar-width: none;

}