/* Fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Garante que html e body ocupem 100% da tela */
html, body {
    height: 100%;
}

/* Menu lateral grudado nas bordas */
nav.menu-lateral {
    width: 220px; /* Largura do menu */
    height: 100%;
    background-color: #013d8d;
    padding: 0;
    box-shadow: 3px 0 0 #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;   

}
.menu-lateral::-webkit-scrollbar {
    display: none; 
}

/* Botão para expandir menu */
.btn-expandir {
    width: 100%;
    padding: 10px;
}

.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* Lista do menu */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Garante que o conteúdo comece no topo */
    flex-grow: 1; /* Permite que a lista ocupe o máximo de espaço */
}

/* Estilo de todos os links */
ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px; 
    padding: 20px 16px;
    display: flex;
    align-items: center;
    transition: background 0.5s;
    width: 100%;
    box-sizing: border-box; /* Garante que o padding não afete o layout */
}

/* Efeito hover */
ul li a:hover {
    background-color: #0250c5;
    border-radius: 8px;
}

/* Espaço entre ícone e texto */
ul li a .txt-link {
    margin-left: 20px;
}

/* Adiciona espaçamento entre os itens do menu */
ul li {
    margin-bottom: 10px; 
}

/* Tamanhos dos ícones */
ul li a .icon > i {
    font-size: 30px; 
}

/* Estilização específica para alguns ícones (opcional) */
ul li.inicio-menu a .icon > i {
    font-size: 34px; 
}

/* Ajuste para o conteúdo principal */
main.conteudo-principal {
    margin-left: 220px; 
    padding: 20px;
    background-color: #f4f4f4;
    height: 100%;
}

.sub-menu {
    display: none; /* Inicialmente escondido */
    padding-left: 20px;
    transition: max-height 0.3s ease-out;
    max-height: 0; /* Inicialmente sem altura */
  }
  
  .menu-link i.bi-chevron-down {
    transition: transform 0.3s ease;
  }
  
  .menu-link.active i.bi-chevron-down {
    transform: rotate(180deg); /* Rotaciona o ícone ao abrir */
  }
  
  
  .footer-contato {
    color: #fff;
    font-size: 13px;
    padding: 10px 16px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-contato .linha-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
  }

  .footer-contato .duvidas span {
    font-size: 10px;
    display: block;
  }

  .footer-contato .empresa {
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
  }

  
