@keyframes aparecer{
  from{
    width:0;
    height: 0;
    opacity: 0  ;
  }
  to{
    width: 550px;
    height: 550px;
    opacity: 1;
  }
}
body{
  animation: aparecer 2s;
}
.container{
  animation: aparecer 2s;
  width: 550px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  text-align: center;
  color: rgb(0, 0, 58);
}
.informacoes input{
  display: flex;
  margin: 20px;
  width: 90%;
  
}

.interacoes{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.interacoes button{
  width: 90%;
  margin-top: 10px;
}
.interacoes a{
  text-decoration: none;
  color: rgb(0, 0, 58);
}
.btn-outline-success{
  background-color:   rgb(31, 221, 31);
  color: white ;
}
.btn-outline-success:hover{
  background-color: #39ad4c;
  color: white;
}
.topoPag h1{
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  height: 90px;
  font-weight: bold;
}

.form-control{

  border: 0.1px rgba(0, 0, 0, 0.363) solid ;

}